{% extends 'svoy01/layout.html' %}
{% load static %}


{% block content %}

{% for i in allusers %}
    {% if i.user.username != request.user.username %}
        {% with i as p %}

         <table>
           <tr><th>Last Seen</th><td>{% if p.last_seen %}{{ p.last_seen|timesince }}{% else %}awhile{% endif %} ago</td></tr>
           <tr><th>Online</th><td>{{ p.online }}</td></tr>
         </table>

        {% endwith %}
            <p>{{ i }}</p><a href="{% url 'room' receiver_id=i.id %}">Написать</a>
    {% endif %}
{% endfor %}

{% endblock %}