{% load mptt_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{% static 'svoy01/css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<!--    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js'></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="body">

<nav class="header">
    <a style="position: absolute; right: 3%;" href="{% url 'admin' %}">ADMIN</a>
    {% if user.is_authenticated %}
        <a class="admin" href="{% url 'create' %}">Создать обьявление</a>
    {% endif %}
    <a href="{% url 'home' %}"><img style=" width: auto; height: 50px;" src="{% static 'svoy01/images/belarus.jpg' %}"></a>
    {% if Category_id %}
    <form class="search" action="{% url 'category' Category_id=Category_id %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
    {% endif %}
</nav>



<section>
    <section class="sec1">
        <div id="app">
            <section style="width:50%; margin: 0px; float:left;">
            {% for c in Category %}
                {% if c.level == 0 %}
                        <div class="cat" v-on:click="counter = {{ c.id }}">{{ c }}</div>
                {% endif %}
            {% endfor %}
            </section>
            <section style="width:50%; margin: 0px; float:right;">
            {% for c in Category %}
                {% if c.level == 1 %}
                    <a class="subcat" v-if="counter == {{ c.parent_id }}"  href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                {% endif %}
            {% endfor %}
            </section>
            </div>
    </section>
        <section class="sec2">
            Всего объявлений: {{ count }}
            {% block content %}{% endblock %}

        </section>
    <section class="sec3">

        {% if request.user.is_authenticated %}
            {% if user.profile.photo %}
        <img class="user_img" src="{{ user.profile.photo.url }}"/>
            {% else %}
        <img class="user_img" src="{% static 'svoy01/images/placeholder-1000x1000.png' %}"/>
            {% endif %}
        <a class="text" href="{% url 'area' %}">Ваш профиль: {{ user.username }}</a><a class="text" href="{% url 'logout' %}"><h3>Выйти</h3></a>
        <a class="text" href="{% url 'chats' %}"><h3>Чаты</h3></a>
        <a class="text" href="{% url 'all_users' %}"><h3>Allusers</h3></a>
        {% else %}
        <a class="text" href="{% url 'register' %}"><h3>Регистрация</h3></a><a class="text" href="{% url 'login' %}"><h3>Войти</h3></a>
        {% endif %}

        {% block area %}{% endblock %}
        <h3>Password: qwdfvbn5</h3>

        <a href="{% url 'create_100' %}">Create 100</a>
    </section>
</section>
<script src="{% static 'svoy01/js/vuestyle.js' %}"></script>
</body>
</html>

